/* 
    <=== [Start UI Website] ===>
*/
:root{
    --green: #198754;
    --bg-body: #F8FAFC;
    --bg-card: #FBFCFD;
    --text-secondary: #6c757d;
    --border-color: #E2E8F0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.6;
    background: #F9FAFB;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    padding-top: 50px;
}

/* -- Box Icon -- */
.box-icon-primary{
    width: 48px;
    height: 48px;
    background: #198754;
    color: #FFFFFF;
}
.box-icon-option{
    width: 56px;
    height: 56px;
}

/* -- Section Bagikan Website -- */
.btn-share-match {
    color: white;
    border: 2px solid transparent !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-share-match i {
    line-height: 1;
    display: inline-block;
}

.btn-wa {
    background-color: #25d366;
    border-color: #25d366;
}
.btn-wa:hover {
    background-color: transparent !important;
    color: #25d366 !important;
    border-color: #25d366 !important;
}

.btn-fb {
    background-color: #1877f2;
    border-color: #1877f2;
}
.btn-fb:hover {
    background-color: transparent !important;
    color: #1877f2 !important;
    border-color: #1877f2 !important;
}

.btn-tg {
    background-color: #0088cc;
    border-color: #0088cc;
}
.btn-tg:hover {
    background-color: transparent !important;
    color: #0088cc !important;
    border-color: #0088cc !important;
}

.btn-x {
    background-color: #000000;
    border-color: #000000;
}
.btn-x:hover {
    background-color: transparent !important;
    color: #000000 !important;
    border-color: #000000 !important;
}

.btn-in {
    background-color: #0077b5;
    border-color: #0077b5;
}
.btn-in:hover {
    background-color: transparent !important;
    color: #0077b5 !important;
    border-color: #0077b5 !important;
}

.btn-copy {
    background-color: #E67514;
    border-color: #E67514;
}
.btn-copy:hover {
    background-color: transparent !important;
    color: #E67514 !important;
    border-color: #E67514 !important;
}

/* -- Footer -- */
.footer-link {
    transition: all 0.2s ease-in-out;
    display: inline-block;
}
.footer-link:hover {
    color: #198754 !important;
}

.transition-all {
    transition: all 0.3s ease;
}
.hover-opacity-100:hover {
    opacity: 1 !important;
}
.tracking-wider {
    letter-spacing: 0.05rem;
}

/* Step Icon UI Article */
#qoy-article .poin-step{
    width: 30px;
    height: 30px;
}
#qoy-article .article-list{
    padding-left: 20px;
    margin-top: .5rem;
}
#qoy-article .article-list li{
    margin-bottom: .5rem;
}
/* ------------ Override Bootstrap ------------ */
.btn, 
.form-control, 
.tool-card, 
.dropdown-item {
    transition: background-color 0.3s ease, 
                border-color 0.3s ease, 
                color 0.3s ease, 
                transform 0.3s ease, 
                box-shadow 0.3s ease;
}

/* - Container - */
.container {
    --bs-gutter-x: 2rem; 
}

@media (min-width: 768px) {
    .container {
        --bs-gutter-x: 0rem;
    }
}
@media (min-width: 1200px) {
    .container {
        --bs-gutter-x: 0;
    }
}

/* - Navbar - */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.nav-link{
    font-weight: 400;
    color: var(--text-secondary);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    font-weight: 600;
    color: var(--green);
}
.nav-link:focus, .nav-link:hover {
    color: var(--green);
}

/* - Card -  */
.list-card{
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), 
                box-shadow 0.3s ease;
    will-change: transform;
}

.list-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1) !important;
}

/* - Text - */
.text-justify{
    text-align: justify;
}
.x-small { 
    font-size: 0.8rem; 
}
.xx-small { 
    font-size: 0.7rem; 
}
.x-letspacing{
    letter-spacing: 2px;
}
.xx-letspacing{
    letter-spacing: 0.5px;
}

/* - Border - */
.border-dashed{
    border-style: dashed !important;
}

/* - Color - */
.text-secondary {
    color: #4B4B4B !important; 
}

/* - Radio Button - */
.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}
.form-check-input:focus {
    box-shadow: none;
}
/* ------------ Override Bootstrap ------------ */

/* 
    <=== [End UI Website] ===>
*/

/* Animasi */
@keyframes spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.rotate-anim {
    animation: spin 0.4s ease-in-out;
}

#swapIcon,
.bi-arrow-down-up {
    transition: transform 0.3s ease;
}